.section {
    
    width: 100%;
    float: left;
  }

.with-border{
    box-sizing: border-box;
    border: 1px solid blue;
}

.weather-view{
    float: left;
    width: 80%;
}

.country-list{
    float: left;
    width: 20%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}



body{
    background: rgb(2,0,36);
    background: linear-gradient(357deg, rgba(2,0,36,1) 0%, rgba(39,39,162,1) 35%, rgba(0,212,255,1) 100%);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


